[user]
	name = Joao Andrade
	email = sousa.andrade.joao@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = yellow box
